@font-face {
    font-family: "ssg-icons";
    src: url("../fonts/ssg-icon.eot");
    src: url("../fonts/ssg-icon.eot?#iefix") format("embedded-opentype"),
        url("../fonts/ssg-icon.woff2") format("woff2"),
        url("../fonts/ssg-icon.woff") format("woff"),
        url("../fonts/ssg-icon.ttf") format("truetype"),
        url("../fonts/ssg-icon.svg#ssg-icon") format("ssg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "omron-icons";
    src: url("../fonts/omron-icons.eot");
    src: url("../fonts/omron-icons.eot?#iefix") format("embedded-opentype"),
        url("../fonts/omron-icons.woff2") format("woff2"),
        url("../fonts/omron-icons.woff") format("woff"),
        url("../fonts/omron-icons.ttf") format("truetype"),
        url("../fonts/omron-icons.svg#omron-icons") format("ssg");
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Light.eot");
    src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Roboto-Light.woff2") format("woff2"),
        url("../fonts/Roboto-Light.woff") format("woff"),
        url("../fonts/Roboto-Light.ttf") format("truetype"),
        url("../fonts/Roboto-Light.svg#Roboto") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.eot");
    src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Roboto-Regular.woff2") format("woff2"),
        url("../fonts/Roboto-Regular.woff") format("woff"),
        url("../fonts/Roboto-Regular.ttf") format("truetype"),
        url("../fonts/Roboto-Regular.svg#Roboto") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Medium.eot");
    src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Roboto-Medium.woff2") format("woff2"),
        url("../fonts/Roboto-Medium.woff") format("woff"),
        url("../fonts/Roboto-Medium.ttf") format("truetype"),
        url("../fonts/Roboto-Medium.svg#Roboto") format("svg");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.eot");
    src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Roboto-Bold.woff2") format("woff2"),
        url("../fonts/Roboto-Bold.woff") format("woff"),
        url("../fonts/Roboto-Bold.ttf") format("truetype"),
        url("../fonts/Roboto-Bold.svg#Roboto") format("svg");
    font-weight: 700;
    font-style: normal;
}



@font-face {
    font-family: "carme";
    src: url("../fonts/carme-regular.eot");
    src: url("../fonts/carme-regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/carme-regular.woff2") format("woff2"),
        url("../fonts/carme-regular.woff") format("woff"),
        url("../fonts/carme-regular.ttf") format("truetype"),
        url("../fonts/carme-regular.svg#carme") format("svg");
    font-weight: 400;
    font-style: normal;
}

body {
    background: #fff;
    padding: 0;
    margin: 0;
    font-family: "Roboto", "Open Sans", "sans-serif";
    color: #1d1d1e;
    width: 100%;
}

input,
textarea,
button {
    font-family: "Roboto", "Open Sans", "sans-serif";
    -webkit-appearance: none;
    border: none;
    outline: none;
    background: none;
    border-color: transparent;
}

button {
    cursor: pointer;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li,
ol li {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:visited,
a:focus {
    text-decoration: none;
    outline: none;
}



* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: inherit;
    cursor: pointer;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.02em;
}

.button {
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    height: 36px;
    line-height: 34px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    padding: 0 12px;
    position: relative;
}

.button.button_low {
    height: 43px;
    line-height: 41px;
    font-size: 14px;
    font-weight: 400;
    border-width: 1px;
    border-style: solid;
    border-radius: 30px;
    letter-spacing: 0.02em;
    padding: 0 28px;
}

.button_big {
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    height: 60px;
    line-height: 58px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    padding: 0 28px;
}

.button_green {
    background: #54bf4a;
    color: #fff;
    border-color: #54bf4a;
}

.button_fiolet {
    background: #5081fb;
    color: #fff;
    border-color: #5081fb;
}

.button_fiolet_shadow {
    box-shadow: 0 6px 10px rgba(80, 130, 251, 0.63);
}

.button_white {
    background: #fff;
    color: #1d1d1e;
    border-color: #adadbd;
}

.button_grey {
    background: #e1e4eb;
    color: #1d1d1e;
    border-color: #e1e4eb;
}

.button_transparent {
    background: transparent;
    color: #1d1d1e;
    border-color: #adadbd;
}

.button_black {
    background: #1d1d1e;
    border-color: #1d1d1e;
    color: #fff;
}

.button_black:hover {
    background: #5081fb;
    border-color: #5081fb;
    color: #fff;
}

.button_black_shadow {
    -webkit-box-shadow: 0 6px 10px rgba(29, 29, 30, 0.63);
    box-shadow: 0 6px 10px rgba(29, 29, 30, 0.63);
}

.button_greytext {
    color: #adadbd;
    background: transparent;
    border-color: #color: #adadbd;
}

.button_block {
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    height: 36px;
    line-height: 34px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
    padding: 0 13px;
}

.button_block .commenticon {
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url(../img/addcomment.png) no-repeat center / contain;
    vertical-align: middle;
    margin-right: 8px;
}

.button_block-grey {
    background: #47585f;
    -webkit-box-shadow: 0 6px 10px rgba(71, 88, 95, 0.63);
    box-shadow: 0 6px 10px rgba(71, 88, 95, 0.63);
    color: #fff;
    border-color: #47585f;
}

.button_block-green {
    background: #54bf4a;
    -webkit-box-shadow: 0 6px 10px rgba(84, 191, 74, 0.63);
    box-shadow: 0 6px 10px rgba(84, 191, 74, 0.63);
    color: #fff;
    border-color: #54bf4a;
}

.button_block-fiolet {
    background: #5081fb;
    -webkit-box-shadow: 0px 6px 10px 0px rgba(99, 58, 253, 0.63);
    box-shadow: 0px 6px 10px 0px rgba(99, 58, 253, 0.63);
    color: #fff;
    border-color: #5081fb;
}

.button_block-black {
    background: #1d1d1e;
    -webkit-box-shadow: 0px 6px 10px 0px rgba(29, 29, 30, 0.63);
    box-shadow: 0px 6px 10px 0px rgba(29, 29, 30, 0.63);
    color: #fff;
    border-color: #1d1d1e;
}

.tac {
    text-align: center;
}

.ssgfont {
    font-family: "ssg-icons";
    font-size: inherit;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
}

.omronfont {
    font-family: "omron-icons";
    font-size: inherit;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
}

.omronfont.omronfont-0:before {
    content: "0"
}

.omronfont.omronfont-1:before {
    content: "1"
}

.omronfont.omronfont-2:before {
    content: "2"
}

.omronfont.omronfont-3:before {
    content: "3"
}

.omronfont.omronfont-4:before {
    content: "4"
}

.omronfont.omronfont-5:before {
    content: "5"
}

.omronfont.omronfont-6:before {
    content: "6"
}

.omronfont.omronfont-7:before {
    content: "7"
}

.omronfont.omronfont-8:before {
    content: "8"
}

.omronfont.omronfont-9:before {
    content: "9"
}

.omronfont.omronfont-a:before {
    content: "a"
}

.omronfont.omronfont-b:before {
    content: "b"
}

.ssgfont.ssgfont-a:before {
    content: "a"
}

.ssgfont.ssgfont-b:before {
    content: "b"
}

.ssgfont.ssgfont-c:before {
    content: "c"
}

.ssgfont.ssgfont-d:before {
    content: "d"
}

.ssgfont.ssgfont-e:before {
    content: "e"
}

.ssgfont.ssgfont-f:before {
    content: "f"
}

.ssgfont.ssgfont-g:before {
    content: "g"
}

.ssgfont.ssgfont-h:before {
    content: "h"
}

.ssgfont.ssgfont-i:before {
    content: "i"
}

.ssgfont.ssgfont-k:before {
    content: "k"
}

.ssgfont.ssgfont-l:before {
    content: "l"
}

.ssgfont.ssgfont-m:before {
    content: "m"
}

.ssgfont.ssgfont-n:before {
    content: "n"
}

.ssgfont.ssgfont-o:before {
    content: "o"
}

.ssgfont.ssgfont-p:before {
    content: "p"
}

.ssgfont.ssgfont-q:before {
    content: "q"
}

.ssgfont.ssgfont-r:before {
    content: "r"
}

.ssgfont.ssgfont-s:before {
    content: "s"
}

.ssgfont.ssgfont-t:before {
    content: "t"
}

.ssgfont.ssgfont-u:before {
    content: "u"
}

.ssgfont.ssgfont-v:before {
    content: "v"
}

.ssgfont.ssgfont-w:before {
    content: "w"
}

.ssgfont.ssgfont-x:before {
    content: "x"
}

.ssgfont.ssgfont-y:before {
    content: "y"
}

.ssgfont.ssgfont-z:before {
    content: "z"
}

.ssgfont.ssgfont-A:before {
    content: "A"
}

.ssgfont.ssgfont-B:before {
    content: "B"
}

.ssgfont.ssgfont-C:before {
    content: "C"
}

.ssgfont.ssgfont-D:before {
    content: "D"
}

.ssgfont.ssgfont-E:before {
    content: "E"
}

.ssgfont.ssgfont-F:before {
    content: "F"
}

.ssgfont.ssgfont-G:before {
    content: "G"
}

.ssgfont.ssgfont-H:before {
    content: "H"
}

.ssgfont.ssgfont-I:before {
    content: "I"
}

.ssgfont.ssgfont-J:before {
    content: "J"
}

.ssgfont.ssgfont-K:before {
    content: "K"
}

.ssgfont.ssgfont-L:before {
    content: "L"
}

.ssgfont.ssgfont-M:before {
    content: "M"
}

.ssgfont.ssgfont-N:before {
    content: "N"
}

.ssgfont.ssgfont-O:before {
    content: "O"
}

.ssgfont.ssgfont-P:before {
    content: "P"
}

.ssgfont.ssgfont-Q:before {
    content: "Q"
}

.ssgfont.ssgfont-R:before {
    content: "R"
}

.ssgfont.ssgfont-S:before {
    content: "S"
}

.ssgfont.ssgfont-T:before {
    content: "T"
}

.ssgfont.ssgfont-U:before {
    content: "U"
}

.ssgfont.ssgfont-V:before {
    content: "V"
}

.ssgfont.ssgfont-W:before {
    content: "W"
}

.ssgfont.ssgfont-X:before {
    content: "X"
}

.ssgfont.ssgfont-Y:before {
    content: "Y"
}

.ssgfont.ssgfont-Z:before {
    content: "Z"
}

.ssgfont.ssgfont-0:before {
    content: "0"
}

.ssgfont.ssgfont-1:before {
    content: "1"
}

.ssgfont.ssgfont-2:before {
    content: "2"
}

.ssgfont.ssgfont-3:before {
    content: "3"
}

.ssgfont.ssgfont-4:before {
    content: "4"
}

.ssgfont.ssgfont-5:before {
    content: "5"
}

.ssgfont.ssgfont-6:before {
    content: "6"
}

.ssgfont.ssgfont-7:before {
    content: "7"
}

.ssgfont.ssgfont-8:before {
    content: "8"
}

.ssgfont.ssgfont-9:before {
    content: "9"
}

.ssgfont.ssgfont-alert:before {
    content: "!"
}

.ssgfont.ssgfont-dog:before {
    content: "@"
}

.ssgfont.ssgfont-lat:before {
    content: "#"
}

.ssgfont.ssgfont-dollar:before {
    content: "$"
}

.ssgfont.ssgfont-percent:before {
    content: "%"
}

.ssgfont.ssgfont-up:before {
    content: "^"
}

.ssgfont.ssgfont-and:before {
    content: "&"
}

.ssgfont.ssgfont-star:before {
    content: "*"
}

.ssgfont.ssgfont-brl:before {
    content: "("
}

.ssgfont.ssgfont-brr:before {
    content: ")"
}

.ssgfont.ssgfont--:before {
    content: "-"
}

.ssgfont.ssgfont-_:before {
    content: "_"
}

.ssgfont.ssgfont-plus:before {
    content: "+"
}

.ssgfont.ssgfont-eq:before {
    content: "="
}

.ssgfont.ssgfont-brcl:before {
    content: "{"
}


.main_section {
    position: relative;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    left: 0;
}

.main_section-leftpanel {
    padding-left: 288px;
}


.breadcrumbs {
    min-height: 96px;
    border-bottom: 1px solid #e1e4eb;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 36px;
}

.breadcrumbs ul {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.breadcrumbs ul li {
    position: relative;
    padding-right: 28px;
    margin-right: 14px;
    white-space: nowrap;

}

.breadcrumbs ul li:before {
    content: "";
    display: block;
    width: 9px;
    height: 18px;
    background: url(../img/breadcrumbs-b.png) no-repeat center / contain;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -9px;
}

.breadcrumbs ul li:last-child {
    margin-left: 0;
    padding-left: 0;
    margin-right: 14px;
}

.breadcrumbs ul li:last-child:before {
    display: none;
}

.breadcrumbs ul li a {
    font-size: 24px;
    line-height: 36px;
    color: #5081fb;
}

.breadcrumbs-opener {
    display: inline-block;
    line-height: 36px;
    width: 18px;
    height: 18px;
    background: url(../img/breadcrumbs-opener.png) no-repeat center / contain;
    margin-left: 18px;
    margin-right: 4px;
    vertical-align: baseline;
    cursor: pointer;
}

.breadcrumbs ul li.active a {
    color: #1d1d1e;
}



header {
    height: 96px;
    width: 100%;
    padding-left: 36px;
    border-bottom: 1px solid #e1e4eb;
}

.header_left {
    float: left;
    padding: 24px 0 23px;
}

.header_left-select {
    position: relative;
    border: 1px solid #e1e4eb;
    border-radius: 3px;
    width: 202px;
    height: 48px;
    float: left;
}

.header_left-select-icon {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 12px;
    top: 50%;
    margin-top: -9px;
    background: url(../img/header_left-select-icon.png) no-repeat center / contain;
    z-index: 2;
}

.header_left-select select {
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    background-color: #fff;
    background-image: url(../img/header_left-select.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 40px auto;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    -ms-appearance: none;
    appearance: none !important;
    padding: 0 40px 0 50px;
    font-size: 14px;
    font-weight: 400;
    color: #404c58;
    cursor: pointer;
    outline: none
}

.header_left-icon {
    height: 48px;
    float: left;
    width: 36px;
    margin-left: 12px;
    padding: 6px 0;
}

.header_left-icon a {
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid #e1e4eb;
}

.header_left-add a {
    background-image: url(../img/header_left-add.png);
    border-color: #5081fb;
}

.header_left-search a {
    background-image: url(../img/header_left-search.png)
}

.header_right {
    float: right;
    position: relative;
}

.header_user {
    float: right;
    background: #5081fb;
    line-height: 96px;
    white-space: nowrap;
    color: #fff;
    padding: 0 36px 0 84px;
    position: relative;
    width: 288px;
    height: 96px;
}

.header_user-photo {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    position: absolute;
    left: 24px;
    top: 50%;
    margin-top: -24px;
}

.header_user-name {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.header_user-menuopener {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    background: url(../img/header_user-menuopener.png) no-repeat center / contain;
    position: absolute;
    right: 18px;
    top: 50%;
    margin-top: -8px;
    cursor: pointer
}

.header_user-menu {
    position: absolute;
    right: 24px;
    top: 75px;
    width: 192px;
    background: #fff;
    -webkit-box-shadow: 0 11px 13px rgba(194, 200, 210, 0.42);
    box-shadow: 0 11px 13px rgba(194, 200, 210, 0.42);
    border-radius: 10px;
    color: #1d1d1e;
    line-height: 32px;
    display: none;
    z-index: 300;
}

.header_user-menu li {
    padding: 0 24px;
}

.header_user-menu li.active a,
.header_user-menu li a:hover {
    color: #5081fb;
}

.header_user-menu-group + .header_user-menu-group {
    border-top: 1px solid #e1e4eb;
}

.header_user-menu-group {
    padding: 10px 0
}

.header_user-logout a {
    display: inline-block;
    padding-left: 27px;
    position: relative;
}

.header_user-logout a:before {
    content: "";
    display: block;
    width: 16px;
    height: 14px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -7px;
    background: url(../img/header_user-logout.png) no-repeat center / contain;
}

.header_main {
    float: left;
    padding: 0 12px;
}

.header_main ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: 95px;
}

.header_main ul li {
    margin: 0 24px;
    font-size: 16px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.header_main ul li i {
    margin-top: -8px;
    margin-right: 8px;
    color: #adadbd;
    font-size: 30px;
}

.header_folder {
    padding-left: 38px;
    position: relative;
}

.header_folder:before {
    content: "";
    display: block;
    width: 1px;
    height: 36px;
    background: #e1e4eb;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -18px;
}

.header_folder span.header_number {
    display: inline-block;
    background-color: #5081fb;
    color: #fff;
    padding: 2px 12px;
    border-radius: 12px;
    margin-left: 18px;
    font-size: 14px;
    min-width: 40px;

}

/*
.header_main ul li.header_folder .ssgfont {
    color: #1d1d1e;
}
*/
.header_main ul li a {
    position: relative;
}

.header_main ul li > a:hover:after,
.header_main ul li.active > a:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: #5081fb;
    position: absolute;
    left: 4px;
    bottom: -40px;
}

.header_main ul li a:hover i,
.header_main ul li.active i {
    color: #5081fb;
}

aside {
    display: block;
    height: 100vh;
    width: 288px;
    position: fixed;
    left: 0;
    top: 0;
    background: #fff;
    -webkit-box-shadow: 0 11px 13px rgba(194, 200, 210, 0.83);
    box-shadow: 0 11px 13px rgba(194, 200, 210, 0.83);
    z-index: 200;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

aside::-webkit-scrollbar {
    width: 0
}

.aside-logo {
    width: 100%;
    height: 192px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.aside-logo .logo {
    display: block;
    width: 90%;
    margin: 0 auto;
    height: 138px;
    background: url(../img/omron_logo.png) no-repeat center / contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.aside_list-group {
    border-top: 1px solid #e1e4eb;
}

.aside_list-title {
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;
    padding: 24px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.aside_list-title > * {
    display: block;
}

.aside_list-title .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.aside_list-title i {
    font-size: 36px;
    color: #b2b2c1;
    margin-top: -2px;
    width: 44px;
    margin-left: -8px;
    font-size: 22px;
    margin-left: 0;
    width: 36px;
}

.aside_list-small .aside_list-title i {
    font-size: 22px;
    margin-left: 0;
    width: 36px;
}

.aside_list-number {
    display: inline-block;
    background: #edeff3;
    border-radius: 12px;
    font-size: 14px;
    line-height: 24px;
    padding: 0 8px;
    margin-left: auto
}

.aside_list-group.active,
.aside_list-group:hover {
    background: #5081fb;
}

.aside_list-group.active i,
.aside_list-group.active .aside_list-title,
.aside_list-group.active .aside_list-number,
.aside_list-group:hover .aside_list-title,
.aside_list-group:hover i,
.aside_list-group:hover .aside_list-number {
    color: #fff
}

.aside_list-group:hover .aside_list-number,
.aside_list-group.active .aside_list-number {
    background: #fff;
    color: #5081fb
}

@media (pointer:coarse) {
    .aside_list-group:hover {
        background: none;
    }

    .aside_list-group:hover .aside_list-title,
    .aside_list-group:hover .aside_list-number {
        color: #1d1d1e
    }

    .aside_list-group:hover i {
        color: #adadbd
    }

    .aside_list-group:hover .aside_list-number {
        background: #edeff3
    }

    .aside_list-group.active {
        background: #47585f;
    }

    .aside_list-group.active i,
    .aside_list-group.active .aside_list-title,
    .aside_list-group.active .aside_list-number {
        color: #fff
    }

    .aside_list-group.active .aside_list-number {
        background: #6c797f
    }
}

.header_mobile-logo {
    width: 100%;
    height: 192px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-bottom: 1px solid #e1e4eb;
    display: none;
}

.header_mobile-logo .logo {
    display: block;
    width: 100%;
    height: 110px;
    background: url(../img/logo.png) no-repeat center / contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.header_burger {
    width: 26px;
    height: 19px;
    position: absolute;
    left: 12px;
    top: 50%;
    margin-top: -10px;
    cursor: pointer;
    display: none
}

.header_burger span {
    display: block;
    width: 100%;
    height: 3px;
    background: #adadbd;
}

.header_burger span + span {
    margin-top: 5px;
}

.aside_mobile_bg {
    width: 100%;
    height: 100%;
    position: fixed;
    left: -100%;
    top: 0;
    background: #1d1d1e;
    opacity: 0.7;
    z-index: 1;
}

.breadcrumbs-mobileprev {
    width: 17px;
    height: 8px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -4px;
    background: url(../img/breadcrumbs-mobileprev.png) no-repeat center / contain;
    cursor: pointer;
    display: none;
}

/*
.rightpanel-opener {
    margin-left: auto;
    color: #5081fb;
    font-size: 12px;
    font-weight: 500;
    border: 2px solid #5081fb;
    border-radius: 5px;
    padding: 9px 17px;
    cursor: pointer;
    display: none;
}
*/

.rightpanel-opener {
    margin-left: auto;
    color: #adadbd;
    cursor: pointer;
    display: none;
    font-size: 19px;
}

.rightpanel-opener-small {
    margin-left: 6px;
    color: #adadbd;
    border: none;
    border-radius: 0;
    padding: 0;
}

.rightpanel-opener span {
    display: inline-block;
    padding-left: 24px;
    position: relative;
    min-width: 1px;
    vertical-align: middle;
}

.rightpanel-opener span:before {
    content: "";
    display: block;
    width: 18px;
    height: 14px;
    background: url(../img/rightpanel-opener.png) no-repeat center / contain;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -7px;
}

.rightpanel-opener span.notext:before {
    left: 50%;
    margin-left: -9px;
}

.checkbox {
    display: block;
    font-size: 18px;
    line-height: 24px;
}

.checkbox input {
    display: none !important;
}

.checkbox span {
    display: block;
    position: relative;
    cursor: pointer;
}

.checkbox span:before {
    content: "";
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -12px;
    cursor: pointer;
    background: transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #fff;
    border-radius: 5px;
}

.checkbox input:checked + span:before {
    opacity: 1;
    background: url(../img/checkbox.png) no-repeat center #fff / cover;

}

.file {
    display: block;

}

.file input {
    display: none !important;
}

.file span {
    display: block;
    position: relative;
    cursor: pointer;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: transparent;
    border: 2px solid #1d1d1e;
    border-radius: 5px;
    background: url(../img/input-file.png) no-repeat center / contain;
}

.aside_list {
    min-height: 100%;
    background: #fff;
    position: relative;
    z-index: 10;
    padding-bottom: 48px;
}

.aside_list.aside_list_shadow {
    -webkit-box-shadow: 0 11px 13px rgba(194, 200, 210, 0.83);
    box-shadow: 0 11px 13px rgba(194, 200, 210, 0.83);
    min-height: 0;
}

.aside_list-list {
    background: #4773df;
    padding: 23px 24px 21px;
    display: none;
}

.active .aside_list-list {
    display: block;
}

.aside_list-filetype {
    display: block;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 3px;
    opacity: 0.4
}

.aside_list-list li {
    padding-left: 36px;
    position: relative;
}

.aside_list-list li + li {
    margin-top: 34px;
}

.aside_list-list .checkbox span {
    padding-right: 36px;
    color: #afc5fd;
}

.aside_list-list .checkbox span:before {
    right: 0;
    opacity: 0.4
}

.aside_list-list .checkbox input:checked + span {
    color: #fff
}

.aside_list-list .checkbox input:checked + span:before {
    opacity: 1
}

.aside_list-list li.checked .aside_list-filetype {
    opacity: 1
}

.aside_list-list li i {
    position: absolute;
    left: 0;
    top: -4px;
    font-size: 22px;
    color: #afc5fd !important;
}

.aside_list-list li.checked i {
    color: #fff !important
}

.aside_list-list a {
    color: #fff;
    display: block;
    font-size: 16px;
}

.aside_list-list a:hover {
    color: #afc5fd
}

.main-content {
    position: relative;
    width: 100%;
}

.changeview {
    display: block;
    width: 46px;
    height: 24px;
    margin-left: auto;
    background: url(../img/changeview.png) no-repeat center / contain;
    border: 1px solid #e1e4eb
}

p {
    letter-spacing: 0.02em;
    font-size: 16px;
}

p.extrasmall {
    font-size: 12px;
    line-height: 20px;
}

p.small {
    font-size: 14px;
    line-height: 20px;
}

p.big {
    font-size: 18px;
}

.colorgrey {
    color: #adadbd;
}

.colorgreen {
    color: #54bf4a;
}

.colorfiolet {
    color: #5081fb;
}

.icon-setting {
    background-image: url(../img/icon-setting.png);
}

.aside_queue {
    background: #fff;
}

.aside_queue-title {
    color: #1d1d1e;
    font-size: 16px;
    border-bottom: 1px solid #e1e4eb;
    padding: 20px 24px;
    background: #f7f9fc
}

.aside_queue_list {
    padding: 0 24px 48px;
    ;
}

.aside_queue_item {
    position: relative;
    padding-left: 76px;
    display: block;
    border-bottom: 1px solid #e1e4eb;
    padding-top: 24px;
    padding-bottom: 7px;
}

.aside_queue_item_img {
    position: absolute;
    left: 0;
    top: 6px;
    width: 58px;
    height: calc(100% - 22px);
    border: 1px solid #eaeaee;
}

.aside_queue_item-img {
    position: relative;
    width: 100%;
    height: 100%;
    left: 6px;
    top: 6px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-box-shadow: 0 9px 43px rgba(173, 173, 189, 0.54);
    box-shadow: 0 9px 43px rgba(173, 173, 189, 0.54);
    z-index: 2
}



.aside_queue_item-name {
    font-size: 14px;
    letter-spacing: 0.02em;
    margin-bottom: 5px
}

.aside_queue_item-number {
    position: relative;
    margin-bottom: 5px;
}

.aside_queue_item-number span {
    display: inline-block;
    color: #fff;
    background: #5081fb;
    font-size: 12px;
    letter-spacing: 0.02em;
    padding: 5px 20px 5px 8px;
    border-radius: 5px;
}

.aside_queue_item-number:after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background: #5081fb;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -3px;
}

.aside_queue_item-status {
    color: #b6b6c4;
    font-size: 12px;
    font-weight: 500;
}

.aside_queue_item-status span {
    color: #1d1d1e;
}

.header_search {
    overflow: hidden;
    float: left;
    padding: 18px 0;
}

.header_search form {
    width: 348px;
    border: 1px solid #b1b1c0;
    border-radius: 30px;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 24px;
}

.header_search button {
    width: 24px;
    height: 24px;
    margin-right: 12px;
    background: url(../img/header_search.png) no-repeat center / contain;
    cursor: pointer;
}

.header_search input {
    width: calc(100% - 36px);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    height: 100%
}

aside.small {
    width: 64px;
}

aside.small .aside_list-title .title {
    display: none;
}

aside.small .aside_list-title i {
    width: 100%;
    text-align: center;
}

.main_section-leftpanelsmall {
    padding-left: 64px !important;
}

.contentflex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.contentflexcenter {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.content {
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.content h1 {
    margin-bottom: 36px;
}

.content h1.nomargin {
    margin-bottom: 0
}

.contentflexcenter .rightpanel-opener {
    margin-bottom: 36px
}

.content {
    width: 100%;
}

.content-rp {
    width: calc(100% - 288px);
}

.content-rpb {
    width: calc(100% - 384px);
}

.rightpanel {
    min-width: 288px;
    width: 288px;
    padding-left: 24px;
    padding-right: 24px;
    border-left: 1px solid #e1e4eb;
}

.rightpanelbig {
    width: 384px;
}

.rightpanelvbig {
    width: 480px;
    flex-grow: 1
}

img {
    max-width: 100%;
}

.button_prev {
    width: 32px;
    height: 32px;
    display: inline-block;
    border-radius: 16px;
    background: url(../img/video_page-player-list-button.png) no-repeat center / contain;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    vertical-align: middle
}

.button_next {
    width: 32px;
    height: 32px;
    display: inline-block;
    border-radius: 16px;
    background: url(../img/video_page-player-list-button.png) no-repeat center / contain;
    vertical-align: middle
}

.button_fullscreen {
    color: #5081fb;
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    padding-left: 22px;
    position: relative;

}

.button_fullscreen:before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background: url(../img/button_fullscreen.png) no-repeat center / contain;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -7px;
}

.button_zoom {
    width: 32px;
    height: 32px;
    display: inline-block;
    border-radius: 16px;
    background: url(../img/button_zoom.png) no-repeat center / contain;
    vertical-align: middle
}

.button_zoomout {
    width: 32px;
    height: 32px;
    display: inline-block;
    border-radius: 16px;
    background: url(../img/button_zoomout.png) no-repeat center / contain;
    vertical-align: middle;
    margin-right: 10px
}

.button_rotateleft {
    width: 32px;
    height: 32px;
    display: inline-block;
    border-radius: 16px;
    background: url(../img/button_rotateleft.png) no-repeat center / contain;
    vertical-align: middle
}

.button_rotateright {
    width: 32px;
    height: 32px;
    display: inline-block;
    border-radius: 16px;
    background: url(../img/button_rotateright.png) no-repeat center / contain;
    vertical-align: middle
}

.aside_list_search {
    padding: 18px 24px;
    border-top: 1px solid #e1e4eb;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: none;
}

.aside_list_search-add {
    display: block;
    min-width: 36px;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    border: 2px solid #e1e4eb;
    position: relative;
    margin-left: 36px;
    display: none;
}

.aside_list_search-add:before {
    content: "";
    display: block;
    width: 2px;
    height: 14px;
    position: absolute;
    left: 50%;
    margin-left: -1px;
    top: 50%;
    margin-top: -7px;
    background: #adadbd;
}

.aside_list_search-add:after {
    content: "";
    display: block;
    width: 14px;
    height: 2px;
    position: absolute;
    left: 50%;
    margin-left: -7px;
    top: 50%;
    margin-top: -1px;
    background: #adadbd;
}

.aside_list_search form {
    width: 100%;
    background: #edeff4;
    height: 36px;
    border-radius: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 12px;
}

.aside_list_search form button {
    width: 18px;
    height: 100%;
    margin-right: 12px;
    background: url(../img/header_search.png) no-repeat center / contain;
    cursor: pointer;
}

.aside_list_search form input {
    width: calc(100% - 30px);
    height: 100%;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    height: 100%;
}

.aside-opener {
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    background: url(../img/trafficdashboard_top_buttons.png) no-repeat center;
    background-size: 8px auto;
    position: absolute;
    left: 24px;
    top: 96px;
    z-index: 1000;
    margin-top: -9px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    cursor: pointer;
    border: 2px solid #1d1d1e;
    display: none;
}

.small .aside-opener {
    display: none;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.small .aside_list_search {
    padding-left: 0;
    padding-right: 0;
}

.small .aside_list_search form {
    background: #fff
}

.small .aside_list_search form input {
    display: none
}

.small .aside_list_search form button {
    margin-right: 0;
    width: 100%;
    background-size: 20px auto;
}

.small .aside_list-title {
    padding-left: 0;
    padding-right: 0
}


.hovered .aside-opener {
    display: block
}

.header_main_menu {
    position: absolute;
    right: 0;
    top: calc(100% + 20px);
    background: #fff;
    z-index: 20;
    width: 288px;
    border-radius: 10px;
    -webkit-box-shadow: 0 11px 27px rgba(194, 200, 210, 0.83);
    box-shadow: 0 11px 27px rgba(194, 200, 210, 0.83);
    border-top-right-radius: 0;
    display: none;
}

.header_main_menu:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 28px solid transparent;
    border-bottom: 20px solid #fff;
    position: absolute;
    right: 0;
    bottom: 100%;
}


.header_main_menu_row {
    padding: 16px 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #e1e4eb;
}

.header_main_menu_icon {
    width: 58px;
    height: 74px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

.header_main_menu_name {
    font-size: 16px;
    letter-spacing: 0.02em;
    padding: 0 12px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: left
}

.header_main_menu-file {
    height: 24px;
    cursor: pointer;
    margin-right: 6px;
    display: block;
}

.header_main_menu-file input {
    display: none !important;
}

.header_main_menu-file span {
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid #adadbd;
    border-radius: 5px;
    text-align: center;

}

.header_main_menu-file span i {
    font-size: 16px !important;
    color: #adadbd !important;
    margin: -5px 0 0 !important
}

.header_main_menu-file:hover span {
    background-color: #5081fb;
    border-color: #5081fb;
}

.header_main_menu-file:hover span i {
    color: #fff !important;
}

.header_main_menu-delete {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border: 1px solid #adadbd;
    position: relative;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.header_main_menu-delete:before {
    content: "";
    display: block;
    width: 2px;
    height: 8px;
    position: absolute;
    left: 50%;
    margin-left: -1px;
    top: 50%;
    margin-top: -4px;
    background: #adadbd
}

.header_main_menu-delete:after {
    content: "";
    display: block;
    width: 8px;
    height: 2px;
    position: absolute;
    left: 50%;
    margin-left: -4px;
    top: 50%;
    margin-top: -1px;
    background: #adadbd
}

.header_main_menu_buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.header_main_menu-delete:hover {
    background-color: #5081fb;
    border-color: #5081fb;
}

.header_main_menu-delete:hover:after,
.header_main_menu-delete:hover:before {
    background: #fff
}

.header_main_menu_bottom {
    text-align: center;
    padding: 24px 12px;
}

.header_main_menu_bottom .button {
    min-width: 140px;
}

.header_support_menu {
    position: absolute;
    right: 0;
    top: calc(100% + 20px);
    background: #fff;
    z-index: 20;
    width: 324px;
    border-radius: 10px;
    -webkit-box-shadow: 0 11px 27px rgba(194, 200, 210, 0.83);
    box-shadow: 0 11px 27px rgba(194, 200, 210, 0.83);
    border-top-right-radius: 0;
    display: none;
}

.header_support_menu:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 28px solid transparent;
    border-bottom: 20px solid #fff;
    position: absolute;
    right: 0;
    bottom: 100%;
}

.header_support_menu_row {
    border-bottom: 1px solid #e1e4eb;
    padding: 14px 24px;
    position: relative;

}

.header_support_menu_row:last-child {
    border-bottom: none;
    padding-bottom: 22px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.header_support_menu_tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header_support_menu_tabs a {
    font-size: 16px;
    font-weight: 400;
    color: #b6b6c4;
}

.header_support_menu_tabs a.active {
    color: #1d1d1e;
}

.header_support_menu_title {
    font-size: 14px;
    letter-spacing: 0.02em;
    margin-bottom: 3px;
    padding-right: 12px;
}

.header_support_menu_order {
    display: inline-block;
    height: 24px;
    border-radius: 5px;
    padding: 0 10px;
    line-height: 24px;
    color: #fff;
    font-size: 12px;
    letter-spacing: 0.02em;
    margin-right: 6px;
}

.header_support_menu_text {
    line-height: 24px;
    white-space: normal;
    color: #b6b6c4;
    font-size: 12px;
    font-weight: 500;
    padding-right: 12px
}

.header_support_menu_text span {
    color: #1d1d1e;
}

.header_support_menu_status {
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    position: absolute;
    right: 24px;
    top: 50%;
    margin-top: -3px
}

.header_support_menu-fiolet {
    background-color: #5081fb;
}

.header_support_menu-red {
    background-color: #f6255a;
}

.header_support_menu-grey {
    background-color: #f7f9fc;
    border: 1px solid #e1e4eb;
    color: #5081fb
}

.header_support_menu_row.readed {
    background: #f7f9fc;
}

.header_support_menu_row.readed .header_support_menu_status {
    background-color: #adadbd;
}

.header_notifications_menu_text {
    font-size: 14px;
    color: #1d1d1e;
    white-space: normal;
    padding-right: 12px
}

.header_support_menu_name {
    color: #adadbd;
    font-size: 14px;
    display: inline-block
}

.header_support_menu_project {
    display: inline-block;
    height: 24px;
    line-height: 22px;
    border: 1px solid #e1e4eb;
    border-radius: 5px;
    padding: 0 10px;
    background-color: #f7f9fc;
}

.header_support_menu_project-fiolet {
    color: #5081fb
}

.header_support_menu_project-red {
    color: #f6255a
}

.header_user_small {
    float: right;
    background: #fff;
    color: #adadbd;
    padding: 0;
    position: relative;
    width: 96px;
    height: 95px;
    border-left: 1px solid #e1e4eb;
    cursor: pointer
}

.header_user_small:hover {
    color: #5081fb
}

.header_user_small_icon {
    font-size: 24px;
    text-align: center
}

.header_signout {
    margin-right: 6px !important;
    padding-left: 16px !important;
}

.header_signout .button_fiolet {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    height: 36px;
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    line-height: 32px;
    padding: 0 12px;
    white-space: nowrap;
    min-width: 101px !important;
    text-align: center
}

.header_signout .button_fiolet:after {
    display: none !important
}


.header_small .header_main ul li:before {
    content: "";
    display: block;
    width: 1px;
    height: 60px;
    background: #f4f6f9;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -30px
}

.header_small .header_main ul li i {
    margin-right: 0
}

.header_small .header_main ul li > a:hover:after,
.header_small .header_main ul li.active > a:after {
    left: 0;
    bottom: -25px
}

.header_small .header_main ul li {
    margin: 0;
    padding: 0 10px;
}

.header_small .header_main ul li > a {
    min-width: 80px;
    display: inline-block;
    text-align: center
}

.header_small .header_folder span.header_number {
    display: inline-block;
    background-color: #5081fb;
    color: #fff;
    padding: 0;
    border-radius: 12px;
    margin-left: 16px;
    font-size: 12px;
    min-width: 24px;
    height: 24px;
    line-height: 24px;
    position: relative;
}

.header_small .header_main ul li.header_folder {
    padding-right: 22px;
    padding-left: 16px
}

.header_small .header_main ul li i {
    margin-top: 0
}

@media(min-width: 1440px) {
    aside.hovered {
        width: 288px;
    }

    aside.hovered .aside_list-title .title {
        display: block;
    }

    aside.hovered .aside_list-title i {
        width: 36px;
        text-align: left;
    }

    .hovered .aside_list_search {
        padding-left: 24px;
        padding-right: 24px;
    }

    .hovered .aside_list_search form {
        background: #fff
    }

    .hovered .aside_list_search form input {
        display: block
    }

    .hovered .aside_list_search form button {
        margin-right: 12px;
        width: 18px;
        background-size: contain
    }

    .hovered .aside_list-title {
        padding-left: 24px;
        padding-right: 24px
    }

    .hovered .aside_list_search form {
        background: #edeff4;
    }
}

@media(max-width: 1919px) {
    header {
        padding-left: 24px;
    }

    .header_main ul li {
        margin: 0 12px;
    }

    .header_left-icon {
        margin-left: 8px
    }

    aside {
        width: 240px;
    }

    .main_section-leftpanel {
        padding-left: 240px;
    }

    .header_folder {
        padding-left: 12px;
    }

    .breadcrumbs {
        padding: 0 24px;
    }

    .content {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media(max-width: 1439px) {
    aside {
        width: 192px;
    }

    .main_section-leftpanel {
        padding-left: 192px;
    }

    .aside_list-title {
        font-size: 13px;
        padding: 24px 12px;
    }



    .aside_list-list {
        padding-left: 12px;
        padding-right: 12px;
    }

    .aside_list-list .checkbox {
        font-size: 13px;
    }

    .aside_list-list li {
        padding-left: 25px
    }

    .aside_list-title i {
        width: 24px;
        font-size: 18px;
    }

    .header_main ul li i {
        margin-right: 4px;
    }

    .header_main ul li {
        margin: 0 6px;
    }

    .header_folder span.header_number {
        margin-left: 6px
    }

    .header_left-select {
        width: 165px;
        font-size: 12px;
    }

    .header_left-select select {
        padding-left: 36px;
    }

    .aside_queue-title {
        padding-left: 12px;
        padding-right: 12px;
    }

    .aside_queue_item {
        padding-left: 64px;
    }

    .aside_queue_item_img {
        width: 48px
    }

    .aside_queue_list {
        padding: 0 12px 48px;
    }    

}

@media(min-width: 768px) and (max-width: 1439px) {
    .aside_list_search {
        padding: 12px;
    }

    aside.hovered {
        width: 192px;
    }

    .hovered .aside_list_search {
        padding-left: 12px;
        padding-right: 12px;
    }

    .hovered .aside_list-title {
        padding-left: 12px;
        padding-right: 12px
    }

    .aside-opener {
        left: 12px;
    }
    
        .aside_list-list a {    
    font-size: 13px;
}
}

@media(max-width: 1279px) {
    header {
        height: auto;
        padding-left: 0;
        border-bottom: none;
    }

    .header_right {
        float: none;
        border-bottom: 1px solid #e1e4eb;
        padding-left: 24px;
    }

    .header_user-name {
        display: none;
    }

    .header_user {
        width: 112px;
        padding: 0
    }

    .header_main {
        padding: 0 24px 0 0;
        width: calc(100% - 112px);
    }


    .header_main ul li {
        font-size: 12px;
        margin: 0 12px;
    }

    .header_main ul {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }

    .header_small .header_main ul {
        justify-content: flex-end
    }

    .header_small .header_search {
        float: none;
        padding: 18px 24px;
        border-bottom: 1px solid #e1e4eb;
    }

    .header_small .header_search form {
        width: 100%
    }

    .header_folder span.header_number {
        margin-left: 15px
    }

    .header_left {
        float: none;
        padding: 12px 24px;
        border-bottom: 1px solid #e1e4eb;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .header_main ul li a:hover:after,
    .header_main ul li.active a:after {
        display: none
    }

    .header_left-icon {
        float: none;
        width: 36px;
        height: 36px;
        padding: 0
    }

    .header_left-select {
        width: 100%;
        font-size: 16px;
        float: none;
        height: 36px
    }

    .header_left-add {
        margin-left: 30px;
    }

    .header_left-select select {
        padding-left: 42px;
    }

    .header_folder {
        padding-left: 18px;
    }

    .rightpanel {
        position: absolute;
        right: -100%;
        top: 0;
        z-index: 200;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        background: #fff;
        height: 100%;
        display: none;
        width: 288px;
    }

    .rightpanel::-webkit-scrollbar {
        width: 0
    }

    .rightpanel-mobilebg {
        width: 100%;
        height: 100%;
        position: absolute;
        right: -100%;
        top: 0;
        background: #1d1d1e;
        opacity: 0.7;
        z-index: 199;
        -moz-transition: all 0.1s ease-out;
        -o-transition: all 0.1s ease-out;
        -webkit-transition: all 0.1s ease-out;
        display: none
    }

    .rightpanel-opened .rightpanel {
        right: 0;
        display: block;
    }

    .rightpanel-opened .rightpanel-mobilebg {
        right: 0;
        display: block;
    }

    .rightpanel-opener {
        display: block;
    }

    .changeview {
        display: none
    }

    .content-rp {
        width: 100%;
    }

    .content {
        padding-left: 24px;
        padding-right: 24px;
    }

    .header_main_menu-file span i {
        margin: -2px 0 0 !important
    }

    .header_support_menu {
        right: auto;
        left: 0;
    }
}

@media(max-width: 1023px) {
    .header_folder span.header_notab {
        display: none;
    }

    .header_main ul {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .header_folder span.header_number {
        margin-left: 8px;
    }

    .header_main ul li {
        margin: 0;
    }

    .breadcrumbs ul li:before {
        display: none
    }

    .breadcrumbs ul li {
        display: none;
        margin-right: 0;
        padding-right: 0;
        padding-left: 54px !important;
    }

    .breadcrumbs ul li.active {
        display: block;
    }

    .breadcrumbs ul li.active a {
        color: #1d1d1e
    }

    .breadcrumbs-mobileprev {
        display: block;
    }

    .breadcrumbs {
        height: 60px;
    }
}

@media(max-width: 767px) {
    .main_section-leftpanel {
        padding-left: 0;
    }

    aside {
        width: 100%;
        background: none;
        left: -100%;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        z-index: 3;
    }

    .aside_inner {
        width: 240px;
        min-height: 100vh;
        z-index: 2;
        background: #fff;
        position: relative;
        left: -100%;
        top: -70px;
        padding-bottom: 70px;
        -webkit-transform: translateY(70px);
        transform: translateY(70px);
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
    }

    .leftpanel-opened aside,
    .leftpanel-opened .aside_mobile_bg,
    .leftpanel-opened aside .aside_inner {
        left: 0
    }

    .leftpanel-opened .main_section {
        height: 100vh;
        overflow: hidden;
        z-index: 1;
        pointer-events: none;
    }

    body.leftpanel-opened {
        position: fixed;
    }

    .aside_list-title {
        padding: 24px;
    }


    .aside_list-list {
        padding-left: 24px;
        padding-right: 24px;
    }

    .aside_list-list .checkbox {
        font-size: 18px;
    }

    .aside_list-list li {
        padding-left: 36px
    }

    .aside_list-title {
        font-size: 18px;
    }

    .aside_list-title i {
        width: 44px;
        font-size: 36px;
    }

    .aside_queue-title {
        padding-left: 24px;
        padding-right: 24px;
    }

    .aside_queue_list {
        padding: 0 24px 48px;
    }

    .aside_queue_item_img {
        width: 58px;
    }

    .aside_queue_item {
        padding-left: 76px;
    }

    .header_mobile-logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    .header_burger {
        display: block;
    }

    .header_right {
        padding-left: 50px
    }

    .header_main {
        border-left: 1px solid #e1e4eb;
        padding-left: 24px;
    }

    .header_user {
        height: 73px;
        width: 88px;
    }

    .header_user_small {
        line-height: 72px
    }


    .header_user-photo {
        left: 12px;
    }

    .header_user-menuopener {
        right: 6px
    }

    .header_main ul {
        height: 72px
    }

    .header_user-menu {
        top: 100%;
    }

    .header_nomobile {
        display: none;
    }

    .header_main {
        width: calc(100% - 88px);
        padding: 0 24px
    }

    .header_main ul li i {
        margin-right: 0;
    }

    .breadcrumbs ul li a {
        font-size: 20px;
    }

    .main_section-leftpanelsmall {
        padding-left: 0 !important;
    }

    aside.small {
        width: 100%;
    }

    aside.small .aside_list-title .title {
        display: block;
    }

    aside.small .aside_list-title i {
        width: 36px;
        text-align: left;
    }

    .aside_list_search {
        padding: 12px 24px;
    }

    .aside-opener {
        display: block
    }

    .aside_list_search-add {
        display: block
    }

    .aside_list_search {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    .header_small .header_main ul {
        justify-content: space-between;
    }

}

@media(max-width: 479px) {
    .header_main {
        padding: 0 12px
    }

    .header_left {
        padding: 12px
    }

    .header_folder {
        padding-left: 12px;
    }

    .breadcrumbs {
        padding: 0 12px;
    }

    .breadcrumbs ul li a {
        font-size: 16px;
    }

    .content {
        padding-left: 12px;
        padding-right: 12px;
    }

    .header_main_menu {
        right: -52px
    }

    .header_main_menu:before {
        display: none;
    }

    .aside_inner {
        width: 100%
    }

    .header_support_menu {
        left: 50%;
        margin-left: -162px;
        top: 100%;
        border-top-right-radius: 10px;
    }

    .header_support_menu:before {
        display: none;
    }

    .header_main ul li {
        position: static;
    }

    .header_main_menu {
        margin-left: -144px;
        right: auto;
        left: 50%;
        top: 100%;
        border-top-right-radius: 10px;
    }

    .header_main_menu:before {
        display: none;
    }
    
    .header_small .header_main ul li > a {
        min-width: 0;
    }
    
    .header_signout {
        display: none
    }
    
    .header_small .header_main ul {
    justify-content: flex-end;
}
}

@media(max-width: 359px) {
    .header_main {
        padding: 0 6px;
    }

    .header_right {
        padding-left: 36px;
    }

    .header_burger {
        left: 6px
    }

    .header_support_menu {
        margin-left: -150px;
        width: 300px;
    }

}